body {
  font-family: Arial, sans-serif;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

textarea {
  resize: none;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3a77ff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3366cc;
}

body {
  font-family: Arial, sans-serif;
}

.register-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3a77ff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3366cc;
}



